@import url(../generalStyles/variables.css);
.products .productsGrid .productsMain .productsItem .productsDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.products .productsGrid .productsMain .productsItem .productsDescription .productsTitle {
    font-size: 1.2rem;
}
.products .productsGrid .productsMain .productsItem .productsDescription .productsPrice {
    font-weight: 600;
    margin: 1rem 0 1rem 0;
}
.products .productsGrid .productsMain .productsItem .productsDescription .productsLink {
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    transition: .5s ease;
}
.products .productsGrid .productsMain .productsItem .productsDescription .productsLink:hover {
    text-decoration: underline;
}