@import url(../generalStyles/variables.css);
@import url(allProductsGrid.css);
@import url(allProductsDescription.css);
.products {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4%;
    background: var(--second-background-color);
}
.products .productsGrid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.products .productsGrid .titleProducts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--primary-font-color);
    padding: 2rem;
}
.products .productsGrid .titleProducts .productsTitle {
    font-size: 2.5rem;
}
.products .productsGrid .titleProducts .productsView {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 12.5rem;
    height: 2.5rem;
    text-decoration: none;
}