@import url(../generalStyles/variables.css);
.cardProduct .cardDescription .icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.cardProduct .cardDescription .icons .linkEdit {
    font-family: var(--font-family-body);
    font-size: 1.2rem;
    color: var(--botons-color);
    border: 1px solid var(--botons-color-hover);
    border-radius: .5rem;
    cursor: pointer;
    text-decoration: none;
    transition: .5s ease;
    padding: .2rem;
}
.cardProduct .cardDescription .icons .btnDelete {
    font-size: 1.2rem;
    background: transparent;
    font-family: var(--font-family-body);
    color: var(--botons-color);
    border: 1px solid var(--botons-color-hover);
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
}
.cardProduct .cardDescription .icons .linkEdit:hover,
.cardProduct .cardDescription .icons .btnDelete:hover {
    color: var(--third-font-color);
    background: var(--botons-color-hover);
}