@import url(../../generalStyles/variables.css);
.products .productsGrid .productsMain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70rem;
    height: 18rem;
    overflow: hidden;
}
.products .productsGrid .productsItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: left;
    background: #fff;
    padding: .5rem;
    border-radius: 1rem;
    width: 11rem;
    height: 16rem;
    margin: 1rem;
}
.products .productsGrid .productsItem .productsImagen {
    width: 10rem;
    height: 10rem;
}
.products .productsGrid .productsItem .productsImagen img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.products .productsGrid .productsItem .productsDescription {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.products .productsGrid .productsItem .productsDescription .productsTitle {
    color: var(--second-font-color);
    font-family: var(--font-family-title);
    font-size: 1rem;
    margin: .8rem 0 .8rem 0;
    text-align: left;
    width: 100%;
    text-align: center;
}
.products .productsGrid .productsItem .productsDescription .productsPrice {
    color: var(--second-font-color);
    font-family: var(--font-family-title);
    font-size: 1rem;
    margin: 0 0 .8rem 0;
    text-align: left;
    font-weight: 600;
    width: 100%;
    text-align: center;
}
.products .productsGrid .productsItem .productsDescription .productsPrice span {
    color: rgba(52, 52, 235, 0.425);
}
.products .productsGrid .productsItem .productsDescription .productsLink {
    text-decoration: none;
    font-family: var(--font-family-title);
    color: var(--botons-color);
    font-weight: 700;
    width: 100%;
    text-align: center;
}
.products .productsGrid .productsItem .productsDescription .productsLink:hover {
    text-decoration: underline;
}